:root { --main-color:#1467a9}

document,thakbong,subprojects,project {
  font-family: sans-serif;
  background-color: white;
  display:flex;
}

transcription:not(:empty):before { content: 'transcription: "' }
transcription:not(:empty):after { content: '" ' }
name ~ name:not(:empty):before { content: ', ' }
type ~ type:not(:empty):before { content: ', ' }
keyword:not(:empty):before { content: " #" }
admtop:not(:empty):before { content : " of --> " }
longitude:not(:empty):before { content : "E" }
latitude:not(:empty):before { content : "N" }
affiliation:not(:empty):before { content : "affiliation: " }
practice:not(:empty):before { content : "cultural practice: " }
creator:not(:empty):before { content : "creator: " }
initiator:not(:empty):before { content : "initiator: " }
responsible:not(:empty):before { content : "responsible: " }
examples:not(:empty):before { content : "examples: " }
definiens:not(:empty):before { content : "definiens: " }
definiendum:not(:empty):before { content :'definiendum: ' }
arts:not(:empty):before { content : "arts: " }
genres:not(:empty):before { content : "genres: " }
deontics:not(:empty):before { content : " (deontics/normative: " }
deontics:not(:empty):after { content : ")" }
epistemics:not(:empty):before { content : " (epistemics/descriptive: " }
epistemics:not(:empty):after { content : ")" }
events:not(:empty):before { content : "events: " }
ref:not(:empty):before { content : "references: " }


project > name,definitions > name {
  font-style: italic;
  display: block;
  flex-grow:1;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 7px;
}

def > definiendum {
  font-style: italic;
  display: block;
  padding: 2%;
  flex-grow:1;
  font-size: 1.1em;
  font-weight: bold;
}

html {
  display:inline;
}

ent,copyright,description,sitemap,definitions,transliteration,transcritpion,keywords,div,texts,person,arts,genres,event,geography,creator,admins,initiator,responsible,project,def,definiens,examples,affiliation,admtop,adminname,transcription,keyword,practice,epistemics,events,ref {
  display:block;
  padding:0em;
  flex-grow:1;
  padding-left:1em;
  background-color:transparent;
}


ent[id^='s'] {
  border-left:1px dashed var(--main-color);
  padding-left:1.5em;
}

iframe,img {
  height:200px;
  width:200px;
  display:inline;
}

img {
  loading:lazy;
}

